body
{
font-family:Arial,Helvetica,sans-serif;
background-image:url('backgrounds/google_android_gingerbread_cookies.jpg');
color:#A4C639;
}
.caption
{
background-color:#74422D;
font-size:12pt;
}
a:link
{
color:#A4C639;
text-decoration:underline;
}
a:hover
{
color:0276FD;
text-decoration:none;
}
marquee
{
font-size:16pt;
}