		body
					{
			font-family:Arial,Helvetica,sans-serif;
			background-color:#74422D;
			color:#A4C639;
		}
		
		.caption
					{
			font-size:12pt;
		}

		#container {
			width: 750px;
			margin: 0 auto;
			font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
			font-size: 16pt;
			line-height: 1.6em;
			color: #A4C639;
		}
		
		h1 {
			font-family: Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-size: 32px;
			color: #CC6633;
			margin-bottom: 30px;
			background-color: #FFF;
		}
		
		h2 {
			color: #666666;
			font-size: 16px;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #FFF;
		}
		
		a {
			color:#A4C639;
			text-decoration: underline;
		}

		a:hover {
			color:#0276FD;
		}

		
		form {
			float:right;
			margin-top: -45px;
			font-size: 9px;
		}
		
		input {
			background-color: #FFF;
			color: #999999;
			border: 1px solid #CCC;
			font-size: 11px;
			padding: 3px;
		}
		
		.button {
			padding: 2px;
		}
		
		.error {
			color: #F03;
			font-size: 16px;
			font-family: Arial, Helvetica, sans-serif;
			background-color: #FFF;
		}
		
		#header {
			border-bottom: 4px solid #A4C639;
			padding-top: 10px;
			clear: both;
			margin-bottom: 10px;
		}
		

		#header p { 
			margin-top: -20px;
			margin-left: 30px;
			color: #999999;
		}
	
		 #navigation ul {
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;			
			float: left;
			width: 140px;
		}

		#navigation a {
			display: block;
			padding: 5px;
			width: 140px;
			border-bottom: 1px solid #CCC;
		}

		#navigation a:link, #navlist a:visited {
			color:#A4C639;
			text-decoration: none;
		}
		
		#navigation a:hover {
			background: #000000 url(/arrow.gif) 96% 50% no-repeat;
			background-color: #F5F5F5;
			color:#0276FD;
		}

		#navigation p {
			margin-top: 40px;
			padding: 5px;
			border-bottom: 1px dotted #CCC;
			border-top: 1px dotted #CCC;
		}

		#content {
			width: 362px;
			margin-left: 180px;
			margin-right: 200px;
		}
		
		#content p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

		#sidebar {
			float: right;
			width: 175px;
		}
		
		#sidebar p {
			padding-bottom: 10px;
			border-bottom: 1px solid #DDDDDD;
		}

		#footer {
			margin-top: 20px;
			clear: both;
			background-color:#575352;
			padding: 0px 5px 0px 5px;
		}
		
		#footer p {
			color:#89817f;
			padding: 5px;
		}
		
		#footer p a {
			color: #89817f;
			border-bottom: 1px dotted #89817f;
		}
		
		#footer p a:hover {
			color: #FFFFFF;
			background-color:#575352;
		}